################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug
/obj/Debug
/Tests/Unit Tests/bin/Debug
/Tests/Unit Tests/obj/Debug
/.vs/WCFExample/v15
/bin/Release
/obj/Release
*.user
/Tests/Unit Tests/bin/Release
/Tests/Unit Tests/obj/Release
/Tests/UnitTests/bin/Debug
/Tests/Unit Tests/Unit_Tests.csproj
/Tests/UnitTests/bin/Release
/Tests/UnitTests/obj/Release
/Tests/~UnitTests
