<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="JsonUrl" value="CalculatorService"/>
    <add key="HttpsServicePort" value="5000"/>
  </appSettings>
  
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="RESTSvcBehavior" name="WCFExample.CalculatorService">
        <endpoint address="" binding="webHttpBinding" contract="WCFExample.ServiceContract.ICalculator"/>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="RESTSvcBehavior">
          <dataContractSerializer maxItemsInObjectGraph="655360"/>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp/>
        </behavior>
        <behavior name="JsonBehavior">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
